<div class="card" style="width: 18rem; border: 2px solid #348ee7; border-radius: 10px; overflow: hidden;">
  <img class="card-img-top" src="{{ objectDetail.image }}" alt="{{ objectDetail.name }}" style="border-bottom: 1px solid #348ee7;" />
  <div class="card-body">
    <h5 class="card-title" style="color: #1c1c1c; font-size: 1.5rem; font-weight: bold;">{{ objectDetail.name }}</h5>
    <p class="card-text" style="color: #495057;">{{ objectDetail.description }}</p>
    <div style="text-align: center;">
      <p style="font-size: 1.2rem; color: #348ee7; margin-bottom: 0;">Puntuación</p>
      <p style="font-size: 2rem; color: #348ee7; margin-top: 0;">{{ objectDetail.rating }}</p>
    </div>
  </div>
</div>
